---
import { basics } from "@cv"
import Section from "@/components/Section.astro"
import Mail from "@/icons/Mail.astro"
import Phone from "@/icons/Phone.astro"
import X from "@/icons/X.astro"
import LinkedIn from "@/icons/LinkedIn.astro"
import GitHub from "@/icons/GitHub.astro"
import WorldMap from "@/icons/WorldMap.astro"
import type { SocialIcon } from "@/types"

const { name, label, image, location, profiles, phone, email } = basics
const { city, region } = location

const SOCIAL_ICONS: SocialIcon = {
  GitHub,
  LinkedIn,
  X,
}

const linkedInfo = profiles.find(({ network }) => network === "LinkedIn")
const linkedUrl = linkedInfo?.url

const printInfo = [email, phone, linkedUrl].filter(Boolean).join(" • ")
---

<Section>
  <div class="flex flex-col-reverse gap-8">
    <div class="info">
      <h1>{name}</h1>
      <h2>{label}</h2>
      <span>
        <WorldMap />
        {city}, {region}
      </span>
      <footer class="print">
        {printInfo}
      </footer>
      <footer class="no-print ">
        {
          email && (
            <a
              href={`mailto:${email}`}
              title={`Send an email to ${name} at ${email}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Mail />
            </a>
          )
        }
        {
          phone && (
            <a
              href={`tel:${phone}`}
              title={`Call ${name} at ${phone}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Phone />
            </a>
          )
        }
        {
          profiles.map(({ network, url, username }) => {
            const Icon = SOCIAL_ICONS[network]

            return (
              <a
                href={url}
                title={`Visit ${name} profile on ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon />
              </a>
            )
          })
        }
      </footer>
    </div>
    <figure class=" print:hidden ">
      <img src={image} alt={name} />
    </figure>
  </div>
</Section>

<style>
  .info {
    @apply flex flex-col gap-2 print:pr-0 print:gap-0 pr-8;
  }

  h1 {
    @apply text-4xl print:text-3xl font-bold;
  }

  h2 {
    @apply text-zinc-700 text-xl print:text-lg font-medium text-balance;
  }

  img {
    @apply aspect-square bg-cover w-32 rounded-2xl
  }

  span {
    @apply text-zinc-700 tracking-wider flex items-center gap-1 text-sm;
  }

  footer {
    @apply text-zinc-500 flex gap-1 mt-2 text-sm ;
  }

  footer a {
    @apply text-zinc-700 inline-flex items-center justify-center border border-zinc-200 p-1 size-8 rounded-md transition-all duration-500 ease-linear hover:border-zinc-300 hover:bg-zinc-200;
  }

  @media (width <= 700px) {
    .container {
      flex-direction: column-reverse;
    }

    .info {
      justify-content: center;
      align-items: center;
      padding-right: 0;
      text-align: center;
    }

    figure {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h2 {
      text-wrap: balance;
    }

    figure {
      margin: 0 auto;
    }
  }
</style>
