---
import GitHub from "@/icons/GitHub.astro"
import Section from "../Section.astro"

import { projects } from "@cv"
---

<Section title="Projects">
  <!-- <ul>
    {
      projects.map(
        ({ url, description, highlights, name, isActive, github }) => {
          return (
            <li>
              <article>
                <header>
                  <h3>
                    <a href={url} target="_blank" title={`See ${name} project `}>
                      {name}
                    </a>
                    {isActive && <span>•</span>}
                    {github && (
                      <a
                        class="github-code-link"
                        href={github}
                        target="_blank"
                        title={`Ver código fuente del proyecto ${name}`}
                      >
                        <GitHub />
                      </a>
                    )}
                  </h3>
                  <p>{description}</p>
                </header>
                <footer>
                  {highlights.map((highlight) => {
                    return <span>{highlight}</span>
                  })}
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul> -->

  <divs class="print:flex  print:flex-col flex flex-col gap-8 print:mx-0 -mx-4 ">
    {
      projects.map(
        ({ url, description, highlights, name, isActive, github }) => {
          return (
<div class="flex gap-2 relative items-baseline before:h-px before:absolute before:bg-gradient-to-r before:from-zinc-300 before:via-zinc-300 before:to-zinc-300/0 before:w-full before:bottom-0 before:-mb-4">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2 hidden mt-0.5 h-5 w-5 self-start text-gray-400 md:inline-block"><path d="M9 20H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h3.9a2 2 0 0 1 1.69.9l.81 1.2a2 2 0 0 0 1.67.9H20a2 2 0 0 1 2 2v5"/><circle cx="13" cy="12" r="2"/><path d="M18 19c-2.8 0-5-2.2-5-5v8"/><circle cx="20" cy="19" r="2"/></svg>
  <div class="relative w-full items-baseline justify-between gap-4">
    <h3 class="mr-6 flex items-center gap-x-1 gap-y-0.5 font-bold text-gray-800 ">
      { url && <a class=" max-md:underline hover:underline" href="{url}">{name}</a>}
      {isActive &&<span class="ml-1 text-green-500">•</span>}
    </h3>
    <div class="text-sm text-gray-500">{description}</div>
    <div class="text-xs mt-1">
      {highlights.map((highlight) => {
        return <li>{highlight}</li>
      })}
    </div>
    {github && (
    <a class="github-code-link right-0 hover:text-zinc-500 top-0 hidden h-6 w-6 md:absolute md:block "
        href={github}
        target="_blank"
        title={`Ver código fuente del proyecto ${name}`}
      >
        <GitHub />
    </a>
    <div class="text-sm flex gap-1 underline text-gray-500 md:hidden"><GitHub /> GitHub</div>
    )}
  </div>
</div>
          )
        }
      )
    }
  </divs>

  
  

</Section>


<style>
  ul {
    @apply print:flex print:flex-col grid gap-4 print:mx-0 -mx-4;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    /* display: grid;
    gap: 1rem;
    margin-inline: -16px; */
  }

  article {
    @apply print:p-0 print:border-0 rounded-lg border border-zinc-500 flex gap-4 flex-col p-4 h-full;
    border: 1px solid #f2f2f2;
  }

  article header {
    @apply flex-1;
  }

  article h3 {
    @apply mb-1 text-xl font-bold
  }

  article a {
    @apply text-zinc-800
  }

  article a:hover {
    @apply underline;
  }

  article p {
    @apply text-xs leading-5 mb-1
  }

  article h3 span {
    @apply text-green-500 print:hidden animate-pulse text-xl;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.6rem;
  }

  footer span {
    border-radius: 6px;
    background: #eee;
    color: #444;
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }

  .github-code-link {
    margin-left: 5px;
  }

  @keyframes flicker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.25;
    }
    100% {
      opacity: 1;
    }
  }

  @media (width <= 700px) {
    ul {
      margin-inline: 0px;
    }

    article {
      border: none;
      box-shadow: 0 1px 1px #f2f2f2;
      padding: 0 0 16px 0;
    }
  }

  @media print {
    article h3 span {
      animation-name: none;
    }
  }
</style>
